.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
}
.mat-list-item-word-wrap .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

mat-card {
  margin-bottom: 16px;
}

mat-card img {
   max-height: 500px;
}

mat-expansion-panel p {
  font-size: 16px;
}

.container {
  padding: 5%;
  padding-top: 5%;
  margin: auto;
  width: 40%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.floatingbutton {
  position: fixed;
  z-index: 9999;
  margin-left: 43vw;
  margin-top: 80vh;
  background-color: #3e6a97;
}

mat-icon {
  color: white;
}

mat-card, mat-expansion-panel {
  background-color: #203040;
  color: white;
}

@media all and (max-width: 800px) and (min-width: 0px) {
  .container {
    padding: 5%;
    padding-top: 15%;
    margin-top: 0%;
    width: 90%;
    font-size: 20px;
  }

  .floatingbutton {
    /*position: fixed;*/
    z-index: 9999;
    margin-left: 75vw;
    margin-top: 75vh;
  }

  mat-expansion-panel-header {
    font-size: 20px;
  }
}

@media all and (max-width: 800px) and (min-width: 0px) and (max-height: 800px) {
  .container {
    padding: 5%;
    padding-top: 15%;
    margin-top: 0%;
    width: 90%;
    font-size: 20px;
  }

  .floatingbutton {
    /*position: fixed;*/
    z-index: 9999;
    margin-left: 73vw;
    margin-top: 69vh;
  }

  mat-expansion-panel-header {
    font-size: 20px;
  }
}

